.transition-fade-all {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.transition-expand-target {
    -webkit-transition: max-height .25s ease-in-out;
    -moz-transition: max-height .25s ease-in-out;
    -o-transition: max-height .25s ease-in-out;
    transition: max-height .25s ease-in-out;
}

.transition-opacity {
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(1080deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1080deg);
    }
}

.loading {
    background: $color-bright-trans;
    margin-top: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.spinner {
    border-width: 4px;
    border-style: solid;
    border-color: transparent $color-bright;
    border-radius: 30px;
    display: block;
    height: 60px;
    width: 60px;
    margin: -30px auto auto -30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
